<div class="box">

    <header class="header">
        <div class="header-top">
            <span class="bg">服务</span>
            <span>金融</span>
        </div>
        <span class="iconfont fdj">&#xe62f;</span>
    </header>

    <section class="section">
        <!--swiper!-->
        <div class="swiper-container container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide" ng-repeat="obj in objs.dlone"><img src="{{obj.imgsrc}}"></li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
        <!--dls one!-->
        <div class="sec-dl">
            <div>
                <dl>
                    <dt style="background: #ff6666" class="iconfont">&#xe608;</dt>
                    <dd>车商城</dd>
                </dl>
                <dl>
                    <dt style="background: #ff9d3e" class="iconfont">&#xe604;</dt>
                    <dd>分期购车</dd>
                </dl>
                <dl>
                    <dt style="background: #ff6666" class="iconfont">&#xe605;</dt>
                    <dd>团购活动</dd>
                </dl>
                <dl>
                    <dt style="background: #4183ff" class="iconfont">&#xe651;</dt>
                    <dd>找二手车</dd>
                </dl>
            </div>
        </div>
        <!--xiaoguanggao-->
        <div class="oneimg">
            <img src="Content/img/sss_02.jpg" alt="">
        </div>
        <div class="h">车主服务</div>
        <div class="sec-dll">
            <dl>
                <dt style="color: #f8d0d0" class="iconfont">&#xe652;</dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt style="color: #d3ede3" class="iconfont">&#xe653;</dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt style="color: #ff4571" class="iconfont">&#xe654;</dt>
                <dd>油卡充值</dd>
            </dl>
            <dl>
                <dt style="color: #ade1d0" class="iconfont">&#xe655;</dt>
                <dd>油卡充值</dd>
            </dl>
        </div>
        <div class="sec-dll">
            <dl>
                <dt style="color: #ffdecc" class="iconfont">&#xe656;</dt>
                <dd>车品商城</dd>
            </dl>
            <dl>
                <dt style="color: #cfe0ff" class="iconfont">&#xe657;</dt>
                <dd>洗车</dd>
            </dl>
            <dl>
                <dt style="color: #ff4e00" class="iconfont">&#xe658;</dt>
                <dd>违章代缴</dd>
            </dl>
            <dl>
                <dt style="color: #f8d0d0" class="iconfont">&#xe659;</dt>
                <dd>免费测评</dd>
            </dl>
        </div>
        <div class="sec-dll">
            <dl>
                <dt style="color: #d0e0ff" class="iconfont">&#xe657;</dt>
                <dd>查周评</dd>
            </dl>
            <dl>
                <dt style="color: #a1ddc8" class="iconfont">&#xe658;</dt>
                <dd>车主卡</dd>
            </dl>
            <dl>
                <dt style="color: #dae6ff" class="iconfont">&#xe654;</dt>
                <dd>领券保养</dd>
            </dl>
            <dl>
                <dt style="color: #f8d0d0" class="iconfont">&#xe65f;</dt>
                <dd>全部</dd>
            </dl>
        </div>

        <div class="hh">
            <span>限时抢购</span>
            <span class="time">
                <b>13</b> :
                <b>13</b> :
                <b>13</b>
            </span>
        </div>
        <div class="sec-isc">
            <div class="sec-over">
                <div class="sec-over-box">
                    <dl>
                        <dt><img src="Content/img/img1.gif"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img2.gif"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/banner2.jpg"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/banner3.jpg"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img2.gif"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="Content/img/img1.gif"></dt>
                        <dd>
                            <p>补胎工具简易套装</p>
                            <p>
                                <span>￥9.9元</span>
                                <s>28元</s>
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="hh1">
            <span>限时抢购</span>
            <span class="genduo">更多活动 ></span>
        </div>
        <div class="dlwky">
            <dl>
                <dd>
                    <p>测身价炫富</p>
                    <p>身价大PK</p>
                </dd>
                <dt><img src="Content/img/pic1.gif"></dt>
            </dl>
            <dl>
                <dd>
                    <p>测身价炫富</p>
                    <p>身价大PK</p>
                </dd>
                <dt><img src="Content/img/pic2.gif"></dt>
            </dl>
            <dl>
                <dd>
                    <p>测身价炫富</p>
                    <p>身价大PK</p>
                </dd>
                <dt><img src="Content/img/pic3.gif"></dt>
            </dl>
        </div>

        <div class="hh2">
            <span>猜你喜欢</span>
            <span class="genduo">更多 ></span>
        </div>
        <div class="cars">
            <dl>
                <dt>
                    <img src="Content/img/pics1.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics2.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics3.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics4.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
        </div>

        <div class="hh2">
            <span>猜你喜欢</span>
            <span class="genduo">更多 ></span>
        </div>
        <div class="cars">
            <dl>
                <dt>
                    <img src="Content/img/pics5.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics6.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics3.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="Content/img/pics4.gif">
                </dt>
                <dd>
                    <p>上海大众-全新旅途</p>
                    <p>上汽大众-全新旅途L享2年0利率</p>
                    <p>
                        <span>1元</span>
                        <s>1.44万</s>
                    </p>
                </dd>
            </dl>
        </div>
    </section>


    <footer class="footer">
        <dl>
            <dt class="iconfont">&#xe653;</dt>
            <dd>首页</dd>
        </dl>
        <dl>
            <dt class="iconfont">&#xe660;</dt>
            <dd>论坛</dd>
        </dl>
        <dl>
            <dt class="iconfont">&#xe651;</dt>
            <dd>选车</dd>
        </dl>
        <dl>
            <dt class="iconfont">&#xe634;</dt>
            <dd>发现</dd>
        </dl>
        <dl>
            <dt class="iconfont">&#xe64f;</dt>
            <dd>未登录</dd>
        </dl>
    </footer>
</div>

